@using System.Web.Optimization
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        @Styles.Render("~/Content/bootstrap/base")
        @Styles.Render("~/Content/bootstrap/theme")
        @*@Scripts.Render("~/bundles/modernizr")*@
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">LINQ to LDAP MVC Examples</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home", null, new{id = "navAbout"})</li>
                    <li>@Html.ActionLink("Server Info", "ServerInfo", "Home", null, new{id = "navServerInfo"})</li>
                    <li><a id="navUsers" href="#contact">Users</a></li>
                    <li><a id="navOrgUnits" href="#contact">Org Units</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
        <div class="container">
            @RenderBody()
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/linqtoldap")
        @RenderSection("scripts", required: false)
    </body>
</html>
