@using System.Web.Optimization
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        @Styles.Render("~/Content/site")
        @Styles.Render("~/Content/bootstrap/base")
        @Styles.Render("~/Content/bootstrap/responsive")
        @Styles.Render("~/Content/alertify/core")
        @Styles.Render("~/Content/alertify/theme")
    </head>
    <body>
        <div class="navbar" role="navigation">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand">LINQ to LDAP MVC Examples</a>
                    <ul class="nav">
                        <li>@Html.ActionLink("About", "About", "Home", null, new{id = "navAbout"})</li>
                        <li>@Html.ActionLink("Server Info", "ServerInfo", "Home", null, new{id = "navServerInfo"})</li>
                        <li>@Html.ActionLink("Users", "Users", "Home", null, new{id = "navUsers"})</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            @RenderBody()
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/alertify")
        @Scripts.Render("~/bundles/linqtoldap")
        @RenderSection("scripts", required: false)
    </body>
</html>
